 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

::ng-deep{
  .mat-form-field{
    width: 80%;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix{
    display: flex;
  }

}

.gradient-custom {

  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
